body {background:#ffffff url("../img/back.png");margin:0px;padding: 0px;height:100%;text-align:center;color:#808080;font-size:0px;font-family:georgia,arial,helvetica;}
a, a:link, a:visited, a:active {color:#808080;font-weight:bold;text-decoration:none;}
a:hover {text-decoration:underline;}
img {border:0px;}

h1 {margin:0px;padding:0px;}
h3 {font-size:20px;margin:0px;padding:0px;}

#header {height:170px;border:0px solid red;margin:0px auto;width:960px;}

#explain {float:right;font-size:14px;width:210px;text-align:right;} 
#social {float:right;font-size:14px;width:170px;text-align:right;border:0px solid red;text-align: left;} 
#social p img {overflow:hidden;padding-bottom:0px;vertical-align: middle;}
#social iframe {float:left;padding-left:10px;}
#logo {float:left;font-size:14px;width:570px;text-align:right;border:0px solid red;overflow:hidden;text-align:left;} 

#middle {background:#ffffff url("../img/back_middle.png");height:201px;border:0px solid red;}

#middle form {font-size:22px;color:#ffffff;padding-top:30px;}
#middle p {margin: 0 auto;overflow: hidden;padding: 0;width: 700px !important;}
#middle input {padding: 7px;margin: 4px 5px 15px 5px;background: #fff;min-width: 220px;font-size: 22px;color: #555;border: 1px #ddd solid;-webkit-box-shadow: 0px 0px 4px #aaa;-moz-box-shadow: 0px 0px 4px #aaa;box-shadow: 0px 0px 4px #aaa;-webkit-transition: background 0.3s linear;clear:both;}
#middle input:hover {background: #eee;}
#middle input[type="button"] {min-width: 150px; color: #eee;text-transform: uppercase;margin-top: 10px;background-color: #18a5cc;border: none;-webkit-transition: -webkit-box-shadow 0.3s linear;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#686868));background:  -moz-linear-gradient(25% 75% 90deg,#383838, #686868);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
#middle input[type="button"]:hover {-webkit-box-shadow: 0px 0px 20px #555;-moz-box-shadow: 0px 0px 20px #aaa;box-shadow: 0px 0px 20px #555;cursor:  pointer;}
#middle p.sol {padding: 20px 20px 0px 20px;color:#cc0000;}
#middle p.hall {padding: 20px 20px 0px 20px;color:#ffffff;font-size:28px;}
#middle img {padding: 40px 20px 0px 20px;}
#middle a, #middle a:link, #middle a:visited, #middle a:hover, #middle a:active {color: #6A6A6A;display: block;float: left;font-size: 35px;padding-top: 20px;text-decoration: none !important;width: 340px;line-height:60px;}
#middle a img {padding:0px!important;vertical-align: middle!important;}


#game {font-size:12px;}

#halls {margin:0px auto;width:950px;border:0px solid red;overflow:hidden;}
#halls h2 {font-size:18px;border-bottom: 2px dotted #6c6f70;padding-bottom:10px;}
#halls ol {text-align:left;margin-left: 20px;padding-bottom:10px;}
#halls ol li {font-size:16px;}

#footer {margin:0px auto;width:950px;border:0px solid red;overflow:hidden;font-size:16px;}


/* Código de cajas de http://www.tutorialshock.com/tutorials/fancy-css3-boxes/ */
/* This is the selector of the fourth box, here's where we establish the measures, background colors, borders and shadows */
.box4{
    margin: 20px;
    min-height: 100px;
    width: 272px;
    padding: 5px 0 ;
    float:left;
    position:relative;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #f2f2f2));
    background: -moz-linear-gradient(0% 0% 360deg, #fff, #f2f2f2 20%, #fff );
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* This is the top right shadow*/
.box4:before{
    content: '';
    width: 50px;
    height: 50px;
    top:0; right:0;
    position:absolute;
    z-index: -1;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(-14px,20px)
                        skew(-20deg);
    -moz-transform: rotate(2deg)
                        translate(-14px,20px)
                        skew(-20deg);
        -o-transform: rotate(2deg)
                        translate(-14px,20px)
                        skew(-20deg);
                transform: rotate(2deg)
                        translate(-14px,20px)
                        skew(-20deg);
}

/* This is the top left shadow*/
.box4:after{
    content: '';
    width: 50px;
    height: 50px;
    top:0; left:0;
    position:absolute;
    z-index:-1;
    display: inline-block;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(12px,25px)
                           skew(20deg);
    -moz-transform: rotate(2deg)
                        translate(12px,25px)
                           skew(20deg);
    -o-transform: rotate(2deg)
                        translate(12px,25px)
                           skew(20deg);
    transform: rotate(2deg)
                        translate(12px,25px)
                           skew(20deg);
}

/* This is the bottom right shadow */
.shr_box4{
    width: 100px;
    height: 100px;
    bottom:0; right:0;
    position:absolute;
    z-index: -1;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
                        translate(-20px,-15px)
                       skew(20deg);
    -moz-transform: rotate(0deg)
                        translate(-20px,-15px)
                       skew(20deg);
    -o-transform: rotate(0deg)
                        translate(-20px,-15px)
                       skew(20deg);
        transform: rotate(0deg)
                        translate(-20px,-15px)
                       skew(20deg);
}

/* This is the bottom left shadow */
.shl_box4{
    content: '';
    width: 100px;
    height: 100px;
    bottom:0; left:0;
    position:absolute;
    z-index: -1;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
                        translate(20px,-15px)
                       skew(-20deg);
    -moz-transform: rotate(0deg)
                        translate(20px,-15px)
                       skew(-20deg);
    -o-transform: rotate(0deg)
                        translate(20px,-15px)
                       skew(-20deg);
    transform: rotate(0deg)
                        translate(20px,-15px)
                       skew(-20deg);
}